<div class ="pixiv">作品名稱：</div><input type="text" id = "picName" name ="picName"><br />
<div class ="pixiv">繪師：</div><input type="text" id = "painter" name = "painter"><br />
<div class ="pixiv">圖片上傳：</div><input type="file" mutiple="mutiple" id = "picture" name = "picture">
<button class="pixiv-submit">建新資料</button>
