<div class ="song">歌曲名稱：</div><input type="text" id = "name" name ="name"><br />
<div class ="song">P主：</div><input type="text" id = "producer" name = "producer"><br />
<div class ="song">YT站連結：(請輸入v= )</div><input type="text" id = "link" name = "link">
<button class="btn-submit">建新資料</button>
